#view-all {
    border-bottom: #D9D9D9 dotted thin;
    border-top: #D9D9D9 dotted thin;
    padding: 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#view-all-anchor {
    color: #EA235B;
}
.featured-row {
    margin-bottom: 10px;
}

.recent-image-div{
    display:table-cell;
}
.recent-image {
    width: 150px;
    border-radius: 3px;

}
.recent-row {
    position:relative;
    display:table;
    padding-top: 10px;
    padding-bottom:10px;
}
.recent-post-border {
    height: 1px;
    border-bottom-color: #D9D9D9;
    border-bottom-style: dotted;
    border-bottom-width: thin;
}
.recent-name-date {
    display:table-cell;
    vertical-align: top;
}

.featured-anchor-border{
    max-width: 360px;
    max-height: 360px;
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top : 4px;
    padding-bottom : 4px;
    border-color: #EDEDED;
    border-radius: 4px;
    border-style:solid;
    border-width: 1px;
}
.featured-image-desc {
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
}
.featured-image {
    width: 100%;
    border-radius: 4px;
    min-height: 110px;
}
.featured-desc {
    position:absolute; 
    bottom:0px; 
    left:0px;  
    width:100%;    
    background-color:black;  
    color:white;  
    opacity:0.7; /* transparency */  
    filter:alpha(opacity=70); /* IE transparency */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
}
.featured-content {
    padding:10px;  
    margin:0px;
}
.recent-name-date {
    padding-left:10px;
}
.recent-date {
    color: #A0A0A0;
}
.recent-name {
    color: black;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0px;
}
.featured-name {
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0px;
    text-transform: uppercase;
}

a {
    color:#EA235B !important;
}

#post-tags {
    margin-bottom: 10px;
}

@media(max-width:767px){
    
    .recent-row{
        margin-left: 15px;
    }
    .recent-name,.featured-name,#view-all-anchor{
        font-size: 14px;
    }
    .recent-date,.featured-date{
        font-size: 11px;
    }
    .recent-image{
        width: 100px;
    }
    .featured-desc {
        text-align: center;
    }
}
@media(min-width:768px){
    .featured-image1 {
        padding-right: 15px;
    }
    .recent-name,.featured-name,#view-all-anchor{
        font-size: 14px;
    }
    .recent-date,.featured-date{
        font-size: 11px;
    }
    .recent-image{
        width: 115px;
    }
}
@media(min-width:992px){

    #blog-category-title{
    margin-left: 50px;
    }

    .recent-name,.featured-name,#view-all-anchor{
        font-size: 16px;
    }
    .recent-date,.featured-date{
        font-size: 13px;
    }
    .recent-image{
        width: 120px;
    }
}
@media(min-width:1200px){

  #blog-category-title{
    margin-left: 100px;
    }

    #recent-posts-col {
        margin-left: -50px;
    }
    .recent-name,.featured-name,#view-all-anchor{
        font-size: 16px;
    }
    .recent-date,.featured-date{
        font-size: 14px;
    }
    .recent-image{
        width: 120px;
    }
}