table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
table {
  width: 100%;
}
table > tbody > tr >  td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
a {
    color:#EA235B !important;
}
.tag-anchor:visited,#xs-category-link:visited,.comment-date-anchor:visited,.comment-reply:visited {
    color:#EA235B;
}  
.tag-anchor:hover,#xs-category-link:hover,.comment-date-anchor:hover,.comment-reply:hover {
    color:#EA235B;
}  
.tag-anchor:active,#xs-category-link:active,.comment-date-anchor:active,.comment-reply:active {
    color:#EA235B;
}  
#post-title{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
#post-image{
    width: 100%;
    padding: 4px;
    border-color: #EDEDED;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
#post-content{
    word-wrap: break-word;
}
#center-share-img{
    padding-right: 10px;
}
#share-text{
    padding-top: 5px;
}
#share-img-div{
    padding-bottom: 10px;
}
#center-share-div{
    padding-top: 10px;
    padding-left: 5px;
}
#feedback-img-div{
    padding-top: 10px;
    padding-bottom: 10px;
}
#center-share-img{
    width:40px;
}
#center-share-text {
    max-width: none;
    font-size: 14px;
}
#center-share-text{
    padding-top: 7px;
}
#recently-published-text-div{
    border-bottom: black solid thin;
}
#recently-published-text-span{
    font-weight: 600;
    font-size: 16px;
}
#published_on_date {
    padding-left: 2px;
}
#post-tags {
    margin-bottom: 10px;
}
#xs-category-link{
    text-decoration: none;
    padding-left: 3px;
}
#xs-category-link-text{
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
}
.share-feedback-img{
    float: left;
}
.share-feedback-text{
    float: left;
    line-height: 1.2;
    color: black;
    padding-left: 2px;
    
}
.share-feedback-img-anchor{
    display: inline-block;
}
.recent-image-div{
    display:table-cell;
}
.recent-image {
    width: 150px;
    border-radius: 3px;
}
.recent-row {
    position:relative;
    display:table;
    padding-top: 10px;
    padding-bottom:10px;
}
.recent-post-border {
    height: 1px;
    border-bottom: #D9D9D9 dotted thin;
}
.recent-name-date {
    display:table-cell;
    vertical-align: top;
}
.recent-name-date {
    padding-left:10px;
}
.recent-date {
    color: black;
}
.recent-name {
    color: #EA235B;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0px;
}

.xs-category-link-element{
  display: inline;
}
#response-section-title {
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: solid 2px #f1f6f6;
}
#comments-section-title {
  font-size: 19.5px;
}
#response-form{
  overflow: hidden;
}
.response-form-row{
  overflow: hidden;
  position: relative;
  padding-bottom: 15px;
}
.reponse-form-label-div{
  width: 20%;
  float: left;
  text-align: right;
  padding-right: 10px;
}
.reponse-form-input-div{
  width: 80%;
  float: left;
}
#response-comment-text-area {
  width: 100%;
  resize: none;
}
#response-name-input, #response-email-input{
  width: 50%;
  height: 35px;
}
#post-button-whitespace {
  min-height: 1px;
}
#post-button {
  /*background-color: #b3b3b3;*/
  background-color: #EA235B;
  width: 40%;
  border-style: hidden;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
#post-button:hover, #post-button:focus {
  outline: 0;
}
#comment-email-subtext{
  padding-left: 5px;
}
.error-message{
  padding-left: 5px;
  display: block;
  color: red;
  font-weight: 400;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  /*display: none;*/
}
.comment-date-anchor,.comment-reply{
  text-decoration: none !important;
}
.reponse-form-input{
  border: thin solid #cccccc;
  border-radius: 3px;
  padding-left: 5px;
  display: block;
}
.reponse-form-input:focus{
    outline: 0;
    border-color: rgba(234, 35, 91,0.8);
}

.comment-element{
  display: table;
  margin-bottom: 36px;
}
.user-profile-image{
  width: 70px;
  border-radius: 3px;
  display: table-cell;
}
.comment-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
.comment-meta, .comment-text, .comment-reply {
  display: block;
}
.comment-text {
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-reply {
  color: #EA235B;
  cursor: pointer;
}

#shareModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#shareModalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #888;
    border-radius: 5px;
}

#shareModalHeader{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:black;
    padding-bottom: 5px;
}


/* The Close Button */
#shareClose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0.5;
    margin-right: 20px;
}
/* The Modal (background) */
#comment-acknowledgement-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#comment-acknowledgement-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 280px; /* Could be more or less, depending on screen size */
}
#comment-acknowledgement-modal-content > p{
  font-size: 18px;
}

/* The Close Button */
#comment-acknowledgement-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
}

#shareClose:hover, #comment-acknowledgement-modal-close:hover,
#shareClose:focus, #comment-acknowledgement-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-share-img {
  width:20px;
  margin-left: 20px;
}

.share-imgs {
  display: inline-block;
margin: 5px 10px;
width: 12%;
}

#shareModalBody{
  text-align: center;
  padding: 10px;
}


@media(max-width:480px){
  #response-name-input, #response-email-input{
    width: 80%;
  }
  #post-button {
    width: 50%;
  }
  .reponse-form-label-div{
    width: 100%;
    clear: right;
    text-align: left;
  }
  .reponse-form-input-div{
    width: 100%;
  }

  #shareModalContent {
      width:80%;
    }
  .share-imgs {
      margin: 5px 7px;
      width: 12%;
  }
}

@media(min-width:481px)and (max-device-width : 767px){
   #shareModalContent {
      width:60%;
    }
  .share-imgs {
      margin: 5px 9px;
      width: 12%;
  }
  #shareModalBody{
    text-align: center;
    padding: 5px;
  }
}
/*@media (max-device-width : 510px){
  table > tbody > tr >  td {
    line-height: 10px;
    font-size : 7px;
  }
}*/  
@media(max-width:767px){
    .recent-name {
        font-size: 14px;
    }
    .recent-date {
        font-size: 11px;
    }
    .recent-image{
        width: 100px;
    }
   
}
@media(min-width:768px){
    #xs-category-link{
      display: none;
    }
    .recent-name {
        font-size: 14px;
    }
    .recent-date {
        font-size: 11px;
    }
    .recent-image{
        width: 115px;
    }

    #shareModalContent {
      width:50%;
    }

    .share-imgs {
      margin: 5px 10px;
      width: 12%;
    }
}
@media(min-width: 992px){
    .recent-name {
        font-size: 12px;
    }
    .recent-date {
        font-size: 10px;
    }
    .recent-image{
        width: 100px;
    }

    #shareModalContent {
      width:27%;
    }

    .share-imgs {
      margin: 5px 8px;
      width: 15%;
    }

    #whatsapp-share-img{
      display:none;
    }
}
@media(min-width:1200px){
    .recent-name {
        font-size: 14px;
    }
    .recent-date {
        font-size: 11px;
    }

    #shareModalContent {
      width:25%;
    }

    .share-imgs {
      margin: 5px 12px;
      width: 15%;
    }

    #whatsapp-share-img{
      display:none;
    }
}

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/